/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
# phpstorm project files
.idea
/.idea/*
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db